@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "tailwind-scrollbar";

@theme {
  --font-bitter: "Bitter", sans-serif;
  --color-zinc-910: oklch(19.7% 0.006 285.84);
}

@layer base {
  b {
    @apply font-bold
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply hidden
  }
}

.invisible-input {
  @apply border-none outline-none ring-0 focus:outline-none focus:border-none focus:ring-0 shadow-none
}

.tippy-box {
  @apply bg-zinc-800 outline-1 outline-zinc-600
}

.tippy-box[data-theme~='info'] {
  @apply bg-zinc-800 text-green-500 text-center outline-1 outline-zinc-600
}

.tippy-box[data-theme~='warning'] {
  @apply bg-zinc-800 text-yellow-500 text-center outline-1 outline-zinc-600
}

.tippy-box[data-theme~='info']>.tippy-arrow::before {
  @apply text-zinc-700
}

.tippy-box[data-theme~='warning']>.tippy-arrow::before {
  @apply text-zinc-700
}

.fi-szl {
  background-image: url(/flags/szl.svg);
}