name: silesian_eu
description: silesian.eu je platforma stworzōno ku ôpisowaniu ślōnskij godki a jejich narzeczy.

version: 1.0.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  words: ^0.5.0

flutter:
  uses-material-design: true
